@media screen and (max-width: 1000px) {
/*header css start*/
.header-left{
    display: none;
}

.header-websize{
    display: none;
}

.header-responsive{
    display: block;
}
/*header css end*/

/*top-wrapper css start*/
.tagline{
    font-size: 25px;
}

.top-wrapper-logo{
    width: 370px;
    height: auto;
}
/*top-wrapper css end*/

/*about-wrapper css start*/
.about-img{
    height: 30vw;
    width: 30vw;
}
/*about-wrapper css end*/

/*partners-wrapper css start*/
.partners-logo{
    width: calc(180px + 1vw);
  }
/*partners-wrapper css end*/

/*members-wrapper css start*/
.members-container a{
    text-decoration: none;
}

.members-contents{
    position: static;
    flex-direction: row;
    width : calc(120px + 8vw);
    height: calc(60px + 4vw);
    background: #404040;
    margin: 2vw;
}

.circle{
    width : calc(60px + 4vw);
    height: calc(60px + 4vw);
    border-radius: 0;
}

.img-shadow{
    width : calc(60px + 4vw);
    height: calc(60px + 4vw);
    box-shadow: 0 0 0 0 rgb(0,0,0,0);
}

.members-contents:hover .img-shadow{
    box-shadow: 0 0 0 0 rgb(0,0,0,0);
}

.members-contents:hover .circle{
    position: static;
    z-index: 1;
}

.members-text{
    position: static;
    width: calc(60px + 4vw);
    height: calc(60px + 4vw);
    font-size: calc(8px + 0.4vw);
    color: #ffffff;
}
/*members-wrapper css end*/
}

@media screen and (max-width: 480px) {
/*header start*/
.menu ul li a{
    color: #ffffff;
}
/*header end*/

/*top-wrapper css start*/
.tagline{
    font-size: 21px;
}

.top-wrapper-logo{
    width: 300px;
    height: auto;
}

/*top-wrapper css end*/

/*about-wrapper css start*/
.about-img{
    height: 40vw;
    width: 40vw;
}
/*about-wrapper css end*/

/*partners-wrapper css start*/
.partners-contents{
    flex-direction : column;
}

.partners-label{
    width: 80%;
    text-align: center;
}

.partners-logo{
    width: 35vw;
}

.partners-name{
    text-align: center;
}
/*partners-wrapper css end*/

/*members-wrapper css start*/

/*members-wrapper css end*/
}