@media screen and (max-width: 1000px) {
/*header css start*/
.header-left{
    display: none;
}

.header-websize{
    display: none;
}

.header-responsive{
    display: block;
}
/*header css end*/

/*top-wrapper css start*/
.tagline{
    font-size: 25px;
}

.top-wrapper-logo{
    width: 370px;
    height: auto;
}
/*top-wrapper css end*/

/*about-wrapper css start*/
.about-img{
    height: 30vw;
    width: 30vw;
}
/*about-wrapper css end*/
}

@media screen and (max-width: 480px) {
/*header start*/
.menu ul li a{
    color: #ffffff;
}
/*header end*/

/*top-wrapper css start*/
.tagline{
    font-size: 21px;
}

.top-wrapper-logo{
    width: 300px;
    height: auto;
}

/*top-wrapper css end*/

/*about-wrapper css start*/
.about-img{
    height: 40vw;
    width: 40vw;
}
/*about-wrapper css end*/

}