/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Lato", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体",
    "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

body {
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*index css start*/
.index {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.index::before {
  content: "";
  background: inherit;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.site-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#logo {
  height: 50vh;
}

.description {
  margin-top: 10px;
}
/*index css end*/

/*header css start*/
header {
  height: 0;
  position: fixed;
  z-index: 100;
}
/*header-left start*/
.header-left {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 101;
}
.triangle {
  border-bottom: 220px solid transparent;
  border-left: 420px solid #ffffff;
  opacity: 0.9;
  position: absolute;
  top: -220px;
  left: 0;
  transition: top 1s;
}
.header-logo {
  width: 200px;
  height: 110px;
  position: absolute;
  top: -115px;
  left: 10px;
  cursor: pointer;
  transition: top 0.5s;
}
.triangle-move {
  top: 0;
  transition: top 1s;
}
.header-logo-move {
  top: 5px;
  transition: top 1.5s;
}
/*.header-left end*/

/*.header-websize start*/
.header-websize {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  list-style: none;
}

.header-websize ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 20px;
  padding-right: 10px;
}

.header-websize ul li a {
  font-family: "Noto Sans JP";
  font-weight: 400;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
  color: #404040;
}
/*.header-websize end*/

/*header-responsive start*/
.header-responsive {
  display: none;
}

.header-menu-logo {
  width: 120px;
  height: auto;
  cursor: pointer;
}
/*nav start*/
.menu-toggle {
  color: #404040;
  cursor: pointer;
  font-size: 0.875rem;
}

.menu-toggle-grippy {
  border-bottom: 5px solid #404040;
  border-top: 5px solid #404040;
  float: left;
  line-height: 0;
  margin-right: 1em;
  padding: 5px 0;
  text-indent: -999em;
  width: 35px;
}
.menu-toggle-grippy:after {
  background: #404040;
  content: "";
  display: flex;
  height: 5px;
}

nav {
  height: 0;
}
label {
  cursor: pointer;
}
label:focus {
  outline: none;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  background: #404040;
  width: 200px;
  height: 100vh;
  transform: translate3d(200px, 0, 0);
  transition: transform 0.35s;
}
.menu label.menu-toggle {
  position: fixed;
  top: 15px;
  left: -50px;
  line-height: 0px;
  display: block;
  padding: 0;
}

.menu ul {
  margin: 16px 0;
  padding: 0;
}

.pl-tw {
  padding-left: 20px;
}
.menu ul li a,
.menu ul li label {
  display: block;
  text-align: left;
  padding-left: 40px;
  line-height: 60px;
  text-decoration: none;
  color: #999;
  font-size: 0.875rem;
  transition: color 0.3s ease-out;
  font-family: "Noto Sans JP";
  font-weight: 400;
}
.menu ul li {
  list-style: none;
}
.menu ul li a:hover,
.menu ul li label:hover {
  color: #fff;
}
/* hide inputs */
.menu-checkbox {
  display: none;
}
/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}
/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}
/*nav end*/
/*header-responsive end*/
/*header css end*/

/*top-wrapper css start*/
.top-wrapper {
  height: 100vh;
  width: auto;
  background: url("img/top-wrapper-bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.tagline {
  font-family: "Noto Sans JP";
  font-size: 2.5vw;
}

.top-wrapper-logo {
  width: 36vw;
  height: auto;
}
/*top-wrapper css end*/

/*news-wrapper css start*/
.wrapper-title {
  /*[all css] wrapper-title*/
  width: 5em;
  height: 1.1em;
  font-family: "Noto Sans JP";
  font-size: calc(20px + 2vw);
  font-weight: 700;
  color: #404040;
  border-bottom: 0.2em solid rgb(32, 216, 186, 0.5);
  margin-left: 10%;
}

.news-container{
  padding: 0.5em 1.5em 2em 1.5em;
  margin: 2em 0;
  color: #404040;
  background-color: #fff;
  border: solid 2px #cccccc;
  border-radius: 10px;
  margin: 4em 10%;
}

.news-table{
  border-spacing: 0 15px;
  border-collapse: separate;
  width: 100%;
}

.news-text{
  height: 35px;
}

.underline{
  border-bottom: 2px solid #eeeeee;
}

.news-days{
  border-bottom: solid 2px rgb(32, 216, 186, 0.5);
  text-align: center;
  width: 5%;
}

.news-bars{
  padding: 0 5px;
}
/*news-wrapper css end*/

/*about-wrapper css start*/
.about-wrapper {
  padding-top: calc(16vw - 4vh);
  padding-bottom: calc(8vw - 2vh);
  background: #eeeeee;
  overflow: hidden;
}

.about-steg {
  font-family: "Noto Sans JP";
  font-size: calc(10px + 0.8vw);
  font-weight: 400;
  color: #404040;
  padding: 4em 10%;
  display: flex;
  justify-content: center;
}

.about-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  object-fit: cover;
}

.about-label {
  width: 50%;
}

.about-title-long {
  width: 9.5em;
  height: 1.2em;
  font-family: "Noto Sans JP";
  font-size: calc(12px + 1vw);
  font-weight: 400;
  color: #404040;
  border-bottom: 3px solid rgb(32, 216, 186, 0.5);
  margin: 1em 10%;
}

.about-title-short {
  width: 5em;
  height: 1.2em;
  font-family: "Noto Sans JP";
  font-size: calc(12px + 1vw);
  font-weight: 400;
  color: #404040;
  border-bottom: 3px solid rgb(32, 216, 186, 0.5);
  margin: 1em 10%;
}

.about-text {
  font-family: "Noto Sans JP";
  font-size: calc(10px + 0.8vw);
  font-weight: 400;
  color: #404040;
  padding: 0.5em 10%;
}
/*about-wrapper css end*/

/*works-wrapper css start */
.works-container {
  padding: 10vh 0;
}

.works-cord {
  margin: 0 10vw 10vh 10vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.square {
  width: calc(100% - 60%);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.works-cord-content {
  margin: 2vh 4vw;
}

.works-title {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2vh;
  /* border-bottom: solid 2px rgb(32,216,186,0.5); */
  /* border-bottom: solid 2px #eeee; */
}

.works-title:after {
  content: "";
  margin-top: 2vh;
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to left, #eeee 5%, rgb(32, 216, 186, 0.5));
}

.works-content {
  margin: 1.5vh 0;
}


/*works-wrapper css end*/

/*partners-wrapper css start*/
.partners-wrapper {
  background: #eeeeee;
  overflow-x: hidden;
}

.triangle-top-g {
  /*[all css] triangle-top*/
  border-top: 18vh solid #ffffff;
  border-left: 100vw solid transparent;
}

.triangle-top-w {
  /*[all css] triangle-top*/
  border-top: 18vh solid #eeeeee;
  border-left: 100vw solid transparent;
}

.partners-container {
  padding: 10vh 0;
}

.partners-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-logo {
  width: 20vw;
  height: auto;
}

.partners-label {
  width: 50%;
}

.partners-name {
  font-family: "Noto Sans JP";
  font-size: calc(12px + 1vw);
  font-weight: 400;
  color: #404040;
  margin: 1em 10%;
}

.partners-description {
  font-family: "Noto Sans JP";
  font-size: calc(10px + 0.8vw);
  font-weight: 400;
  color: #404040;
  padding: 0.5em 10%;
}
/*partners-wrapper css end*/

/*members-wrapper css start*/
.members-wrapper {
  padding-bottom: calc(12vw - 3vh);
  overflow-x: hidden;
}

.members-container {
  padding-top: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.members-contents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(80px + 5vw);
  height: calc(80px + 5vw);
  margin: 5vw;
}

.circle {
  width: calc(80px + 5vw);
  height: calc(80px + 5vw);
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.members-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(80px + 5vw);
  height: calc(80px + 5vw);
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: calc(10px + 0.5vw);
  color: rgb(0, 0, 0, 0);
  cursor: pointer;
}

.img-shadow {
  width: calc(80px + 5vw);
  height: calc(80px + 5vw);
  border-radius: 50%;
}

.members-contents:hover .circle {
  position: absolute;
  z-index: -1;
}

.members-contents:hover .img-shadow {
  box-shadow: 0 0 100px 100px rgb(0, 0, 0, 0.5) inset;
}

.members-contents:hover .members-text {
  color: #ffffff;
}

.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
/*members-wrapper css end*/

/*contact-wrapper css start*/
.contact-wrapper {
  background: #eeeeee;
  overflow: hidden;
}

.contact-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contents input {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 15px;
  width: 50vw;
  height: 2em;
  margin: 10px;
}

.form-contents textarea {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 15px;
  width: 50vw;
  height: 20em;
  margin: 10px 10px 20px;
  resize: none;
}

.form-button {
  width: 10em;
  height: 2.5em;
  text-align: center;
  border: 2px solid #20d8ba;
  color: #20d8ba;
  background-color: #eeeeee;
  text-decoration: none;
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 15px;
  border-radius: 4px;
  transition: 0.4s;
}

.form-button:hover {
  background-color: #20d8ba;
  border-color: #189f88;
  color: #fff;
}
/*contact-wrapper css end*/

/*footer css start*/

footer {
  background: #404040;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left ul {
  list-style: none;
}
.footer-left ul li a {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: calc(10px + 0.5vw);
  text-decoration: none;
  color: #ffffff;
}

.footer-left {
  padding: 3vw 4vw;
}

.footer-right {
  padding: 3vw 4vw;
  display: flex;
  justify-content: end;
}

.twitter-icon {
  width: 50px;
  height: 50px;
}

.copyright {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: calc(6px + 0.5vw);
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
/*footer css end*/
