/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Lato", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体",
    "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*index css start*/
.index {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.index::before {
  content: "";
  background: inherit;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.site-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#logo {
  height: 50vh;
}

.description {
  margin-top: 10px;
}
/*index css end*/

/*header css start*/
header{
  height: 0;
  position: fixed;
}
/*header-left start*/
.header-left{
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.triangle{
  border-bottom: 220px solid transparent;
  border-left: 420px solid #ffffff;
  opacity:0.9;
}
.header-logo{
  width: 200px;
  height: 110px;
  position: absolute;
  top: 5px;
  left: 10px;
}
/*.header-left end*/

/*.header-websize start*/
.header-websize{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 65px;
  list-style: none;
}

.header-websize ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 20px;
  padding-right: 10px;
}

.header-websize ul li a{
  font-family: "メイリオ";
  font-weight: 400;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
  color: #404040;
}
/*.header-websize end*/

/*header-responsive start*/
.header-responsive{
  display: none;
}

.header-menu-logo{
  width: 120px;
  height: auto;
  padding-left:40px;
}
/*nav start*/
.menu-toggle {
  color: #404040;
  cursor: pointer;
  font-size: 0.875rem; 
}

.menu-toggle-grippy {
  border-bottom: 5px solid #404040;
  border-top: 5px solid #404040;
  float: left;
  line-height: 0;
  margin-right: 1em;
  padding: 5px 0;
  text-indent: -999em;
  width: 35px;
}
.menu-toggle-grippy:after {
  background: #404040;
  content: "";
  display: flex;
  height: 5px;
}

nav{
  height: 0;
}
label {
  cursor: pointer;
}
label:focus {
  outline: none;
}
.menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  background: #404040;
  width: 200px;
  height: 100vh;
  transform: translate3d(200px, 0, 0);
  transition: transform 0.35s;
}
.menu label.menu-toggle {
  z-index: 100;
  position: fixed;
  top: 15px;
  left: -50px;
  line-height: 0px;
  display: block;
  padding: 0;
}

.menu ul{
  margin: 16px 0;
  padding: 0;
}
.menu ul li a, .menu ul li label {
  display: block;
  text-align: left;
  padding-left:60px;
  line-height: 60px;
  text-decoration: none;
  color: #999;
  font-size: 0.875rem;
  transition: color 0.3s ease-out;
  font-family: "メイリオ";
  font-weight: 400;
}
.menu ul li{
  list-style: none;
}
.menu ul li a:hover, .menu ul li label:hover {
  color: #fff;
}
/* hide inputs */
.menu-checkbox {
  display: none;
}
/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}
/* fade in checked menu */
.menu-checkbox:checked + .menu{
  transform: translate3d(0, 0, 0);
}
/*nav end*/
/*header-responsive end*/
/*header css end*/

/*top-wrapper css start*/
.top-wrapper {
  height: 100vh;
  width: 100%;
  background: url("img/top-wrapper-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-right: 50px;
  text-align: center;
  display: flex;
  flex-direction : column;
  justify-content:center;
  align-items: center;
}

.tagline{
  font-family: "メイリオ";
  font-size: 2.5vw;
}

.top-wrapper-logo{
  width: 36vw;
  height: auto;
}
/*top-wrapper css end*/

/*about-wrapper css start*/
.about-wrapper{
  height: 100vh;
  width: 100%;
}
/*about-wrapper css end*/